djangorestframework==3.16.0
djangorestframework-datatables==0.7.2
django_filter==25.1
django-confy==1.0.4

#GDAL==3.9.3

django-extensions==3.2.3
webtemplate-dbca@git+https://github.com/dbca-wa/webtemplate2.git@955544f4acbc770d07da665c7488f89ccb3486ec ; python_version >= "3.10" and python_version < "4.0"
git+https://github.com/dbca-wa/dbca-utils@1.1.1#egg=dbca-utils
ipython==8.26.0
psycopg2-binary==2.9.10
dj-database-url==0.5.0
python-decouple==3.8
#django-cron==0.6.0
django_bootstrap3==15.0.0
django-reversion==5.0.0
django_vite==3.1.0
pytz==2025.2
django-rest-swagger==2.2.0
setuptools==72.0.0
whitenoise==5.3.0
djangorestframework-gis==1.2.0
django-dirtyfields==1.9.7
django-ckeditor==6.7.3
geopandas==1.1.1
matplotlib==3.10.6
SQLAlchemy==2.0.43
GeoAlchemy2==0.18.0
jupyter==1.1.1
notebook==6.5.7
scipy==1.16.2
openpyxl==3.1.5
fiona==1.10.1
django-crispy-forms==2.4
crispy-bootstrap4==2025.6
django-debug-toolbar==6.0.0
