Django==5.0.13
GDAL==3.9.3
#django-extensions==1.9.8
django-extensions==3.2.3
#git+https://github.com/dbca-wa/dpaw-utils.git@0.4.2#egg=dpaw-utils
git+https://github.com/xzzy/webtemplate.git#egg=webtemplate_dbca
git+https://github.com/dbca-wa/dbca-utils@1.1.1#egg=dbca-utils
psycopg2-binary==2.9.9
#ipython==7.19.0
ipython==8.26.0
django-utils-six==2.0
#social-auth-app-django==2.1.0
git+https://github.com/scottp-dpaw/social-core.git@email_fix#egg=social-auth-core
django_bootstrap3==15.0.0
django-reversion==5.0.0
django-reversion-compare==0.15.0
django-cron==0.6.0
#djangorestframework==3.12.0
djangorestframework==3.15.2
djangorestframework-gis==1.0
djangorestframework-datatables==0.7.2
pycountry==17.1.8
#geojson==1.3.3
django-confy==1.0.4
gunicorn==23.0.0
dj-static==0.0.6
dj-database-url==0.5.0
whitenoise==5.3.0
django-rest-swagger==2.2.0
#jsonschema==4.21.1
json_checker==2.0.0
unicodecsv==0.14.1
psutil==6.0.0
geojsplit==0.1.2
#django-debug-toolbar==4.4.6

# Needed for shell_plus crash issue
jedi==0.19.1
parso==0.8.4

# next packages required for geopandas
# rtree requires 'sudo apt install libspatialindex-dev'
#geopandas==0.10.2
geopandas==1.0.1
shapely==2.0.5
#pyproj==3.6.0
pandas==2.2.2
python-dateutil==2.8.2
cligj==0.7.2
click-plugins==1.1.1
numpy==2.1.2

# next packages required for geopandas -- plotting
cycler==0.11.0
fonttools==4.55.2
kiwisolver==1.4.5
matplotlib==3.9.1
packaging==21.3
pyparsing==3.0.7

# For ER Diagram image generation 'python manage.py graph_models --pygraphviz -a -g -I RevisionedMixin,Layer,LayerRequestLog,Task,TaskMetrics -o ~/Downloads/sqs_er_21Dec2023_v1.png'
# NEEDED installation of 'sudo apt install libpython3.10-dev' following install of python3.10
#pyparsing==2.4.6
pydot==1.4.2
pygraphviz==1.7
pydotplus==2.0.2

git+https://github.com/dbca-wa/appmonitor_client.git#egg=appmonitor_client
python-decouple==3.8

#setuptools==69.0.3
setuptools==72.0.0
wheel==0.42.0
idna==3.7
pillow==10.3.0
sqlparse==0.5.0
